<!DOCTYPE html>
<html>
<head>
	<title>Mages vs. Templars</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

  <h2>Mages vs. Templars</h2>


  <h2> It is your turn, <%= session[:player1].name %> </h2>


	<button class = "btn" id = "newGame"> New Game </button>

	<div class = "container">
		<table>
			<tr>
				<td><%= session[:board].cells[:one] %></td>
				<td class = "middlecolumn"><%= session[:board].cells[:two] %></td>
				<td><a href = "/"><%= session[:board].cells[:three] %></td>
			</tr>
			<tr>
				<td class = "middlerow"><%= session[:board].cells[:four] %></td>
				<td class = "middlecolumn middlerow"><%= session[:board].cells[:five] %></td>
				<td class = "middlerow"><%= session[:board].cells[:six] %></td>
			</tr>
			<tr>
				<td><%= session[:board].cells[:seven] %></td>
				<td class = "middlecolumn"><%= session[:board].cells[:eight] %></td>
				<td><%= session[:board].cells[:nine] %></td>
			</tr>
		</table>
	<div>

		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	 <script src="js/main.js"></script>
</body>
</html>


