<!DOCTYPE html>
<html>
<head>
	<title>Mages vs. Templars</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

  <h2>Mages vs. Templars</h2>


  <h3> It is your turn, <%= session[:current_player].name %> </h3>


	<button class = "btn" id = "newGame"> New Game </button>

	<div class = "container">
		<table>
			<tr>
				<td id = "one" class = "cell"><%= session[:board].cells[:one] %></td>
				<td id = "two" class = " cell middlecolumn mage"><%= session[:board].cells[:two] %></td>
				<td id = "three" class = "cell"><a href = "/"><%= session[:board].cells[:three] %></td>
			</tr>
			<tr>
				<td id = "four" class = " cell middlerow"><%= session[:board].cells[:four] %></td>
				<td id = "five" class = " cell middlecolumn middlerow"><%= session[:board].cells[:five] %></td>
				<td id = "six" class = " cell middlerow"><%= session[:board].cells[:six] %></td>
			</tr>
			<tr>
				<td id = "seven" class = "cell"><%= session[:board].cells[:seven] %></td>
				<td id = "eight" class = " cell middlecolumn"><%= session[:board].cells[:eight] %></td>
				<td id = "nine" class = "cell"><%= session[:board].cells[:nine] %></td>
			</tr>
		</table>
	<div>

		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	 <script src="js/main.js"></script>
</body>
</html>

<!-- session[:game].board.cells[:one] -->
